form {
    margin-top: 10px;
    margin-left: 10px;
  }
  h1 {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 16px;
    color: rgb(53, 53, 53);
    opacity: 0.95;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
  }
  h2 {
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
    opacity: 0.8;
    font-family: "Quicksand", sans-serif;
  }
  a {
    text-decoration: none;
    color: rgb(53, 53, 53);
  }
  a:hover {
    color: #9329f7;
  }
  .container {
    background: linear-gradient(
      68.7deg,
      rgb(235, 217, 221) 8%,
      rgb(216, 174, 211) 55.4%,
      rgb(175, 158, 230) 91.1%
    );
    max-width: 50%;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 5px;
  }
  .sun-icon,
  .smog-icon,
  .cloud-icon {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 10px;
  }
  .weather-info{
      margin: 10px 0px 10px 0px;
  }
  .weather-now {
    text-align: center;
    padding-bottom: 20px;
  }
  .other-info {
    font-size: 19.5px;
    line-height: 30px;
    margin-top: 20px;
    padding-top: 15px;
    opacity: 0.8;
    font-family: "Poppins", sans-serif;
    padding-left: 23px;
    padding-right: 10px;
    letter-spacing: 1px;
  }
  .temperature-now,
  .conditions {
    font-size: 20px;
    opacity: 0.8;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
  }
  .main-temperature {
      font-size: 26px;
  }
  .temperature-now{
      word-spacing: 4px;
  }
  .weekly-forecast {
    text-align: center;
  }
  .weekly-card {
    background-color: rgba(209, 196, 207, 0.3);
    padding: 30px 2px;
    line-height: 30px;
    font-weight: 500;
    opacity: 0.8;
    font-family: "Quicksand", sans-serif;
  }
  .footer {
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    font-family: Quicksand;
  }